{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Fanovana Adidy</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'dist3/css/bootstrap.min.css'%}" rel="stylesheet">

</head>

<body>



    <main role="main" class="container-fluid mt-3 " style="padding: 5px;padding-bottom: 50px;">

        <div class="form-control">
            <div class="modal-header bg-m">
                <h5 class="modal-title" id="Adidy">Adidy</h5>
                <a href="{% url 'Fitatanana:Pejy1'%}tahiry/{{adidy.Mpino.id}}" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" >X</a>
                </div>
        </div>

        <form action="" method="post">
            {% csrf_token %}
            {%if request.POST%}
            {%if form.non_field_errors%}
            <div class="alert alert-danger" role="alert"><h1>{{form.non_field_errors}}</h1></div>
            {%endif%}
            {%endif%}
            
            <table class="table table-striped   bg-dark text-white pr-3">

                <thead class="text -center">

                    <tr class="mr-3">
                        <th colspan="4" class="text-center bg-info">
                            <select name="Mpino" required id="id_Mpino">
                                <option value="{{adidy.Mpino.id}}" selected>{{adidy.Mpino.Anarana}}</option>
                            </select>
                           
                        </th>
                    </tr>

                    <tr>
                        <th colspan="4" class="text-center bg-primary">
                            Taona
                        </th>
                    </tr>
                    <tr>
                        <th colspan="4" class="text-center bg-primary">
                            <div>




                                <input class="form-control" type="number" name="Taona"
                                    value="{{adidy.Taona}}" required id="id_Taona" readonly>

                            </div>
                        </th>
                    </tr>

                    <tr>
                        <th>volana</th>
                        <th>Kristianina</th>
                        <th>Mpandray</th>
                        <th>Daty</th>
                    </tr>

                </thead>

                <tbody>


                    <tr>
                        <th>
                            <label for="" class="form-label">January</label>
                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="J" value="{{adidy.J|default:'0'}}"
                                    required id="id_J" {%if adidy.J > 0 %} readonly {%endif%}>
                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="P_J" value="{{adidy.P_J|default:'0'}}"
                                    required id="id_P_J" {%if adidy.P_J > 0 or adidy.Mpino.M_P == "K"%} readonly {%endif%} >
                            </div>
                            
                        </th>
                        
                        
                        
                        <th>

                            <div>
                                <input class="form-control" type="date" name="J_Date"  id="id_J_Date"
                                    value="{{adidy.J_Date|date:'Y-m-d'}}" {%if adidy.J > 0 %} readonly {%endif%}>
                            </div>

                        </th>

                    </tr>

                    <!--Manoboka eto -->
                    <tr>
                        <th>
                            Febroary
                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="F" value="{{adidy.F|default:'0'}}"
                                    required id="id_F" {%if adidy.F > 0 %} readonly {%endif%}>
                            </div>

                        </th>
                        <th>
                            <div>
                                <input class="form-control" type="number" name="P_F" value="{{adidy.P_f|default:'0'}}"
                                    required id="id_P_F" {%if adidy.P_F > 0 or adidy.Mpino.M_P == "K"%} readonly {%endif%}>
                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="date" name="F_Date"  id="id_F_Date"
                                    value="{{adidy.F_Date|date:'Y-m-d'}}" {%if adidy.F > 0 %} readonly {%endif%}>
                            </div>

                        </th>
                    </tr>

                    <tr>
                        <th>Marsa</th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="M" value="{{adidy.M|default:'0'}}"
                                    required id="id_M" {%if adidy.M > 0 %} readonly {%endif%}>
                            </div>

                        </th>
                        <th>
                            <div>
                                <input class="form-control" type="number" name="P_M" value="{{adidy.P_M|default:'0'}}"
                                    required id="id_P_M" {%if adidy.P_M > 0 or adidy.Mpino.M_P == "K"%} readonly {%endif%}>

                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="date" name="M_Date"  id="id_M_Date"
                                    value="{{adidy.M_Date|date:'Y-m-d'}}" {%if adidy.M > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                    </tr>

                    <tr>
                        <th>April</th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="Av" value="{{adidy.Av|default:'0'}}"
                                    required id="id_Av" {%if adidy.Av > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                        <th>
                            <div>
                                <input class="form-control" type="number" name="P_Av" value="{{adidy.P_Av|default:'0'}}"
                                    required id="id_P_Av" {%if adidy.P_Av > 0 or adidy.Mpino.M_P == "K"%} readonly {%endif%}>

                            </div>

                        </th>
                        <th>
                            <div>
                                <input class="form-control" type="date" name="Av_Date"  id="id_Av_Date"
                                    value="{{adidy.Av_Date|date:'Y-m-d'}}" {%if adidy.Av > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                    </tr>

                    <tr>
                        <th>May</th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="Ma" value="{{adidy.Ma|default:'0'}}"
                                    required id="id_Ma" {%if adidy.Ma > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                        <th>
                            <div>
                                <input class="form-control" type="number" name="P_Ma" value="{{adidy.P_Ma|default:'0'}}"
                                    required id="id_P_Ma" {%if adidy.P_Ma > 0 or adidy.Mpino.M_P == "K"%} readonly {%endif%}>

                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="date" name="Ma_Date"  id="id_Ma_Date"
                                    value="{{adidy.Ma_Date|date:'Y-m-d'}}" {%if adidy.Ma > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                    </tr>

                    <tr>
                        <th>Jona</th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="Ji" value="{{adidy.Ji|default:'0'}}"
                                    required id="id_Ji" {%if adidy.Ji > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="P_Ji" value="{{adidy.P_Ji|default:'0'}}"
                                    required id="id_P_Ji" {%if adidy.P_Ji > 0 or adidy.Mpino.M_P == "K"%} readonly {%endif%}>

                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="date" name="Ji_Date"  id="id_Ji_Date"
                                    value="{{adidy.Ji_Date|date:'Y-m-d'}}" {%if adidy.Ji > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                    </tr>
                    <tr>
                        <th>Jolay</th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="Ju" value="{{adidy.Ju|default:'0'}}"
                                    required id="id_Ju" {%if adidy.Ju > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="P_Ju" value="{{adidy.P_Ju|default:'0'}}"
                                    required id="id_P_Ju" {%if adidy.P_Ju > 0 or adidy.Mpino.M_P == "K"%} readonly {%endif%}>

                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="date" name="Ju_Date"  id="id_Ju_Date"
                                    value="{{adidy.Ju_Date|date:'Y-m-d'}}" {%if adidy.Ju > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                    </tr>
                    <tr>
                        <th>Aogostra</th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="Ag" value="{{adidy.Ag|default:'0'}}"
                                    required id="id_Ag" {%if adidy.Ag > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                        <th>
                            <div>
                                <input class="form-control" type="number" name="P_Ag" value="{{adidy.P_Ag|default:'0'}}"
                                    required id="id_P_Ag" {%if adidy.P_Ag > 0 or adidy.Mpino.M_P == "K"%} readonly {%endif%}>

                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="date" name="Ag_Date"  id="id_Ag_Date"
                                    value="{{adidy.Ag_Date|date:'Y-m-d'}}" {%if adidy.Ag > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                    </tr>
                    <tr>
                        <th>Septembra</th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="S" value="{{adidy.S|default:'0'}}"
                                    required id="id_S" {%if adidy.S > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                        <th>
                            <div>
                                <input class="form-control" type="number" name="P_S" value="{{adidy.P_S|default:'0'}}"
                                    required id="id_P_S" value="{{adidy.P_S|default:'0'}}" {%if adidy.P_S > 0 or adidy.Mpino.M_P == "K"%} readonly {%endif%}>

                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="date" name="S_Date"  id="id_S_Date"
                                    value="{{adidy.S_Date|date:'Y-m-d'}}" {%if adidy.S > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                    </tr>
                    <tr>
                        <th>Oktrobra</th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="Ak" value="{{adidy.Ak|default:'0'}}"
                                    required id="id_Ak" {%if adidy.Ak > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="P_Ak" value="{{adidy.P_Ak|default:'0'}}"
                                    required id="id_P_Ak" {%if adidy.P_Ak > 0 or adidy.Mpino.M_P == "K"%} readonly {%endif%}>

                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="date" name="Ac_Date"  id="id_Ac_Date"
                                    value="{{adidy.Ac_Date|date:'Y-m-d'}}" {%if adidy.Ak > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                    </tr>

                    <tr>
                        <th>Novambra</th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="N" value="{{adidy.N|default:'0'}}"
                                    required id="id_N" {%if adidy.N > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                        <th>
                            <div>
                                <input class="form-control" type="number" name="P_N" value="{{adidy.P_N|default:'0'}}"
                                    required id="id_P_N" {%if adidy.P_N > 0 or adidy.Mpino.M_P == "K"%} readonly {%endif%}>

                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="date" name="N_Date"  id="id_N_Date"
                                    value="{{adidy.N_Date|date:'Y-m-d'}}" {%if adidy.N > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                    </tr>
                    <tr>
                        <th>Desanbra</th>
                        <th>

                            <div>
                                <input class="form-control" type="number" name="D" value="{{adidy.D|default:'0'}}"
                                    required id="id_D" {%if adidy.D > 0 %} readonly {%endif%}>

                            </div>

                        </th>
                        <th>
                            <div>
                                <input class="form-control" type="number" name="P_D" value="{{adidy.P_D|default:'0'}}"
                                    required id="id_P_D" {%if adidy.P_D > 0 or adidy.Mpino.M_P == "K"%} readonly {%endif%}>

                            </div>

                        </th>
                        <th>

                            <div>
                                <input class="form-control" type="date" name="D_Date"  id="id_D_Date"
                                    value="{{adidy.D_Date|date:'Y-m-d'}}" {%if adidy.D > 0 %} readonly {%endif%}>
                            </div>

                        </th>
                    </tr>
                </tbody>

            </table>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary w-35" id="Ampiditra">Ampiditra</button>
            </div>
        </form>

        </div>














    </main><!-- /.container -->


    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">FJKM ANDRAISORA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <!--
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link readonly" href="#">Disabled</a>
                </li>
                -->
                    <div class="dropdown-menu" aria-labelledby="dropdown10">
                      
                    </div>
                </li>
            </ul>
        </div>
    </nav>

</body>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write(`<script src="{% static 'assets/js/vendor/jquery-slim.min.js'%}"><\/script>`)</script>
<script src="{% static 'assets/js/vendor/popper.min.js'%}"></script>
<script src="{% static 'dist3/js/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/jquery-slim.min.js'%}"></script>
<script>
    // <![CDATA[  <-- For SVG support
    if ('WebSocket' in window) {
        (function () {
            function refreshCSS() {
                var sheets = [].slice.call(document.getElementsByTagName("link"));
                var head = document.getElementsByTagName("head")[0];
                for (var i = 0; i < sheets.length; ++i) {
                    var elem = sheets[i];
                    var parent = elem.parentElement || head;
                    parent.removeChild(elem);
                    var rel = elem.rel;
                    if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                        var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                        elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                    }
                    parent.appendChild(elem);
                }
            }
            var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
            var address = protocol + window.location.host + window.location.pathname + '/ws';
            var socket = new WebSocket(address);
            socket.onmessage = function (msg) {
                if (msg.data == 'reload') window.location.reload();
                else if (msg.data == 'refreshcss') refreshCSS();
            };
            if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                console.log('Live reload enabled.');
                sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
            }
        })();
    }
    else {
        console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
    }
        // ]]>
</script>
</body>

</html>