{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Manova ny Mobamoba</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Fampidirana</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'dist3/css/bootstrap.min.css'%}" rel="stylesheet">
    
</head>


<main role="main" class="container-fluid mt-3"  style="padding-bottom: 40px;">
    
        <div class="form-control main  scroll h-100" style="left: 12px;">
            <div class="modal-header bg-m">
                <h5 class="modal-title" id="Mombamoba">Mombamoba</h5>
                <a href="{% url 'Fitatanana:Pejy1'%}" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" >X</a>
            </div>
            <div class="p-3 overflow-hiden">
                <form action="" method="post">
                    {% csrf_token %}
                    
                    
                    <div class="row g-2 ">
                        <div class="col-6 mb-3 form-control">
                            <label for="id_LaharanaKaratra" class="form-label">Laharan' ny Karatra</label>
                        </div>
                        <div class="col-6 mb-3 form-control">
                            <input class="form-control" type="text" name="LaharanaKaratra" id="id_LaharanaKaratra" required value="{{ anarana.LaharanaKaratra|default:'' }}">
                            {% for error in form.nom.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="col-6 mb-3 form-control">
                            <label for="id_Anarana" class="form-label">Anarana</label>
                        </div>
                        <div class="col-6 mb-3 form-control">
                            <input class="form-control" type="text" name="Anarana" id="id_Anarana" required value="{{ anarana.Anarana|default:'' }}">
                            {% for error in form.nom.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="col-6 mb-3 form-control">
                            <label for="id_Fanampiny" class="form-label">Fanampiny</label>
                        </div>
                        <div class="col-6 mb-3 form-control">
                            <input class="form-control" type="text" name="Fanampiny" maxlength="255" required id="id_Fanampiny" value="{{ anarana.Fanampiny|default:'' }}">
                            {% for error in form.nom.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                        

                        <div class="col-6 mb-3 form-control">
                            <label for="id_Teraka" class="form-label">Teraka</label>
                        </div>
                        <div class="col-6 mb-3 form-control">
                            <input class="form-control" type="number" name="Teraka" required id="id_Teraka" value="{{ anarana.Teraka}}">
                            {% for error in form.nom.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="col-6  mb-3 form-control">
                            <label for="id_Lahy">Lahy</label>
                        </div>
                        <div class="col-6  mb-3 text-center form-control w-100">
                            <input type="radio" class="form-check-input" type="radio" name="L_v" value="L" id="id_L_v_0" {%if  anarana.L_v == "L" %} checked {%endif%}>
                        </div>

                        <div class="col-6  mb-3 form-control">
                            <label for="id_Vavy">Vavy</label>
                        </div>
                        <div class="col-6  mb-3 text-center form-control w-100">
                            <input type="radio" class="form-check-input" type="radio" name="L_v" value="V" id="id_L_v_1" {%if anarana.L_v == "V" %} checked {%endif%}>
                        </div>
                        
                        <div class="col-6 mb-3 form-control">
                            <label for="id_Antonasa" class="form-label">Antonasa</label>
                        </div>
                        <div class="col-6 mb-3 form-control">
                            <input class="form-control" type="text" name="Antonasa" maxlength="200" required
                                id="id_Antonasa" value="{{ anarana.Antonasa|default:'' }}">
                        </div>

                       

                        

                        <div class="col-6 mb-3 form-control">
                            <label for="id_Adresy" class="form-label">Adresy</label>
                        </div>
                        <div class="col-6 mb-3 form-control">
                            <input class="form-control" type="text" name="Adresy" maxlength="255" required
                                id="id_Adresy" value="{{ anarana.Adresy|default:'' }}">
                        </div>
                        {% for error in form.message.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}

                       
                        <div class="col-6 mb-3 form-control">
                            <label for="id_Faritra" class="form-label">Faritra</label>
                        </div>
                        <div class="col-6 mb-3 form-control">
                            <input class="form-control" type="text" name="Faritra" maxlength="150" required
                                id="id_Faritra" value="{{ anarana.Faritra|default:'' }}">
                        </div>
                        {% for error in form.message.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}

                        <div class="col-6 mb-3 form-control">
                            <label for="id_Fiday" class="form-label">Fiday</label>
                        </div>
                        <div class="col-6 mb-3 form-control">
                            <input class="form-control" type="tel" name="Fiday" maxlength="13" 
                                id="id_Fiday" value="{{ anarana.Fiday|default:'' }}">
                        </div>
                        {% for error in form.message.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}

                        <div class="col-6 mb-3 form-control">
                            <label for="id_TaonaNahatogavanaTaoAmpiagonana" class="form-label">Taona Nahatogavana Tao Ampiagonana</label>
                        </div>
                        <div class="col-6 mb-3 form-control">
                            <input class="form-control" type="number" name="TaonaNahatogavanaTaoAmpiagonana" maxlength="4" minlength="4"
                                id="id_TaonaNahatogavanaTaoAmpiagonana" value="{{ anarana.TaonaNahatogavanaTaoAmpiagonana|default:'' }}">
                        </div>
                        {% for error in form.message.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}

                        <div class="col-6 mb-3 form-control">
                            <label for="id_FiagonanaNiavina" class="form-label">Fiagonana Niavina</label>
                        </div>
                        <div class="col-6 mb-3 form-control">
                            <input class="form-control" ype="text" name="FiagonanaNiavina" maxlength="250" required id="id_FiagonanaNiavina" value="{{ anarana.FiagonanaNiavina|default:'' }}">
                        </div>
                        {% for error in form.message.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}


                         
                         <div class="col-6  mb-3 form-control">
                            <label for="id_batisa_0">Vita batisa</label>
                        </div>
                        <div class="col-6  mb-3 text-center form-control w-100">
                            <input type="radio" class="form-check-input" type="radio" name="batisa" value="ENY" required id="id_batisa_0" {%if  anarana.batisa == "ENY" %}checked {%endif%}>
                        </div>
                        <div class="col-6  mb-3 form-control">
                            <label for="id_batisa_1">Tsy vita batisa</label>
                        </div>
                        <div class="col-6  mb-3 text-center form-control w-100">
                            <input type="radio" class="form-check-input" type="radio" name="batisa" value="TSY" required id="id_batisa_1" {%if  anarana.batisa == "TSY" %}checked {%endif%}>
                        </div>

                        <div class="col-6 mb-3 form-control">
                            <label for="id_taona_nanaovana_batysa" class="form-label">Taona Nanaovana batisa</label>
                        </div>
                        <div class="col-6 mb-3 form-control">
                            <input class="form-control" type="number" name="taona_nanaovana_batysa" id="id_taona_nanaovana_batysa" value="{{ anarana.taona_nanaovana_batysa|default:'' }}">
                
                        </div>
                    

                        <div class="col-6  mb-3 form-control">
                            <label for="id_M_P_0">Mpadray</label>
                        </div>
                        <div class="col-6  mb-3 text-center form-control w-100">
                            <input type="radio" class="form-check-input" type="radio" name="M_P" value="P" required id="id_M_P_0" {%if  anarana.M_P == "P" %}checked {%endif%}>
                        </div>

                        <div class="col-6  mb-3 form-control">
                            <label for="id_M_P_1">Kristianina</label>
                        </div>
                        <div class="col-6  mb-3 text-center form-control w-100">
                            <input type="radio" class="form-check-input" type="radio" name="M_P" value="K" required id="id_L_v_1" {%if  anarana.M_P == "K" %}checked {%endif%}>
                        </div>

                        <div class="col-6 mb-3 form-control">
                            <label for="id_TaonaNahaMpandray" class="form-label">Taona Naha Mpandray</label>
                        </div>
                        <div class="col-6 mb-3 form-control">
                            <input class="form-control" type="number" name="TaonaNahaMpandray" maxlength="4" minlength="4"  id="id_TaonaNahaMpandray" value="{{ anarana.TaonaNahaMpandray|default:'' }}">
                
                        </div>
                        {% for error in form.message.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}

                        

                        <div class="col-6 mb-3 form-control">
                            <label for="id_DatyNakanaKaratra" class="form-label">Daty Nakana Karatra</label>
                        </div> 
                        <div class="col-6 mb-3 form-control">
                            <input class="form-control" type="text" name="DatyNakanaKaratra" maxlength="20"   id="id_DatyNakanaKaratra" value="{{ anarana.DatyNakanaKaratra|default:'' }}">
                        </div>
                        {% for error in form.message.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary w-35" id="Ampiditra">Ampiditra</button>
                    </div>
                   
                </form>
                
                
            </div>
            
        </div>

        

</main><!-- /.container -->


<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FJKM ANDRAISORO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
           
        </ul>
    </div>
</nav>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src=""
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write(`<script src="{% static 'assets/js/vendor/jquery-slim.min.js'%}"><\/script>`)</script>
<!--<script src="{% static 'assets/js/vendor/popper.min.js'%}"></script>-->
<script src="{% static 'dist3/js/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/jquery-slim.min.js'%}"></script>
<script>
    // <![CDATA[  <-- For SVG support
    if ('WebSocket' in window) {
        (function () {
            function refreshCSS() {
                var sheets = [].slice.call(document.getElementsByTagName("link"));
                var head = document.getElementsByTagName("head")[0];
                for (var i = 0; i < sheets.length; ++i) {
                    var elem = sheets[i];
                    var parent = elem.parentElement || head;
                    parent.removeChild(elem);
                    var rel = elem.rel;
                    if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                        var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                        elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                    }
                    parent.appendChild(elem);
                }
            }
            var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
            var address = protocol + window.location.host + window.location.pathname + '/ws';
            var socket = new WebSocket(address);
            socket.onmessage = function (msg) {
                if (msg.data == 'reload') window.location.reload();
                else if (msg.data == 'refreshcss') refreshCSS();
            };
            if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                console.log('Live reload enabled.');
                sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
            }
        })();
    }
    else {
        console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
    }
        // ]]>
</script>
</body>

</html>